// Terminal 1 : SASS
// Terminal 2 : Git

// Liens vers les autres feuilles de style SASS
@import "variables.scss";
@import "mixins.scss";

// Couleur du body
body{
    background-color: #353535;
}


// Navbar
.navbar{
    height: 95px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


// Mise en place du logo
.logo{
    display: flex;
    padding-top: 10px;

    // Image du logo
    img{
        height: 60px;
    }

    // Titre de l'applicatioon
    p{
        margin-left: 10px;
        color:white;
        font-family: $font;
        font-size: 20px;
        font-weight: 300;
    }

}


// Mise en place de la navigation
ul{
    display: flex;   
}
li{
    padding: 10px 25px 10px 25px;
    list-style: none;
    font-family: $font;
    color: $color_paragraphes;
    font-size: 16px;
    font-weight: lighter;

    &:last-child{
        border: solid 1px;
        border-color: white;
        border-radius: 10px;
        color: $color_h1;
    }

}


// Image triangle sous la navbar
.triangle{
    height: 150px;
    width: auto;
    text-align: center;

    img{
        height: 135px;
        margin-top: 20px;
        position: relative;
        z-index: 1;
    }
}


// Section Showcase
.section_showcase{
    display: flex;
    justify-content: flex-end;
    height: 500px;
    width: 100%;
}
.showcase{
    height: 400px;
    width: 500px;
    position: relative;
    z-index: 2;

    // Titre h1
    h1{
        @include h1();
        text-align: center;
    }

    // Paragraphe de la section
    p{
        @include paragraphe();
    }   
}
// Boutons de la section
.btn{
    display: flex;
}
button{
    font-family: $font;
    font-size: 16px;
    color: $color_h1;
    font-weight: lighter;
    padding: 15px 25px 15px 25px;
    margin-top: 25px;
    border-radius: 10px;

    &:first-child{
        background: linear-gradient(to right, #46C2FF, #BD11FA);
        border: none;
    }

    &:last-child{
        background: transparent;
        border: solid 1px white;
        margin-left: 14px;
    }
}
// Mockup Iphones
.mockup img{
    height: 800px;
    margin-top: -178px;
}


// Triangle 2
.triangle-2 img{ 
    height: 220px;
    margin-left: 30px;
}


// Section multi-logos
.multi-logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
// Logos divers
.logos{
    display: flex;
    flex-direction: column;

    img{
        height: 45px;
    }
}
// Ligne-1
.ligne-1{ 
    display: flex;
    justify-content: center;
    margin: 15px 0 10px 0;
}
.aws{
    margin: 0 15px 0 0;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px black;
}

.puma{
    @extend .aws;
}
// Ligne-2
.ligne-2{
    display: flex;
    justify-content: center;
    margin: 25px 0 10px 0;

}
.microsoft{
    @extend .aws;
    img{
        height: 30px;
    }
}
.inkyy{
    @extend .aws;
}
.nike{
    @extend .aws;
}
// Ligne-3
.ligne-3{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.disney{
    @extend .aws;
}
.converse{
    @extend .aws;
}
.itunes{
    @extend .aws;
}

// Paragraphe
.paragraphe{
    width: 400px;

    // Titre h2 de la section
    h2{
        @include h2();
    }

    // Paragraphe de la section
    p{
        @include paragraphe();
    }
}

