// Terminal 1 : SASS
// Terminal 2 : Git

// Liens vers les autres feuilles de style SASS
@import "variables.scss";
@import "mixins.scss";

// Couleur du body
body{
    background-color: #353535;
}


// Navbar
.navbar{
    height: 95px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


// Mise en place du logo
.logo{
    display: flex;
    padding-top: 10px;

    // Image du logo
    img{
        height: 60px;
    }

    // Titre de l'applicatioon
    p{
        margin-left: 10px;
        color:white;
        font-family: $font;
        font-size: 20px;
        font-weight: 300;
    }

}


// Mise en place de la navigation
ul{
    display: flex;   
}
li{
    padding: 10px 25px 10px 25px;
    list-style: none;
    font-family: $font;
    color: $color_paragraphes;
    font-size: 16px;
    font-weight: lighter;

    &:last-child{
        border: solid 1px;
        border-color: white;
        border-radius: 10px;
        color: $color_h1;
    }

}


// Image triangle sous la navbar
.triangle{
    height: 150px;
    width: auto;
    text-align: center;

    img{
        height: 135px;
        margin-top: 20px;
        position: relative;
        z-index: 1;
    }
}


// Section Showcase
.section_showcase{
    display: flex;
    justify-content: flex-end;
    height: 500px;
    width: 100%;
}
.showcase{
    height: 400px;
    width: 500px;
    position: relative;
    z-index: 2;

    // Titre h1
    h1{
        @include h1();
        text-align: center;
    }

    // Paragraphe de la section
    p{
        @include paragraphe();
    }   
}
// Boutons de la section
.btn{
    display: flex;
}
button{
    
    &:first-child{
        @include button_gradient();
    }

    &:last-child{
        @include button();
    }
}
// Mockup Iphones
.mockup img{
    height: 800px;
    margin-top: -178px;
}


// Triangle 2
.triangle-2 img{ 
    height: 220px;
    margin-left: 30px;
}


// Section multi-logos
.multi-logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
// Logos divers
.logos{
    display: flex;
    flex-direction: column;

    img{
        height: 45px;
    }
}
// Ligne-1
.ligne-1{ 
    display: flex;
    justify-content: center;
    margin: 15px 0 10px 0;
}
.aws{
    margin: 0 15px 0 0;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px black;
}

.puma{
    @extend .aws;
}
// Ligne-2
.ligne-2{
    display: flex;
    justify-content: center;
    margin: 25px 0 10px 0;

}
.microsoft{
    @extend .aws;
    img{
        height: 30px;
    }
}
.inkyy{
    @extend .aws;
}
.nike{
    @extend .aws;
}
// Ligne-3
.ligne-3{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.disney{
    @extend .aws;
}
.converse{
    @extend .aws;
}
.itunes{
    @extend .aws;
}

// Paragraphe
.paragraphe{
    width: 400px;

    // Titre h2 de la section
    h2{
        @include h2();
    }

    // Paragraphe de la section
    p{
        @include paragraphe();
    }
}


// Image de cercle
.cercle{
    // position: relative;
    display: flex;
    justify-content: flex-end;

    img{
        height: 400px;
        // position:absolute;
        // clip:rect(0, 0, 10px, 20px);
    }
}


// Section Cards
.section_cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
//Powerful Features
.powerful{
    width: 117px;
    padding: 10px;
    background-color: rgba(0, 77, 50, 0.753);
    color: #00EC98;
    font-family: $font;
    font-size: 14px;
}
// Texte
.texte{
    width: 450px;
}
.texte h2{
    @include h2();
}
.texte p{
    @include paragraphe();
}
.texte button{
    @include button_gradient();
}
// Cards Totales
.cards-totales{
    display: flex;
}
// Cards
.cards-1{
    width: 300px;
    padding: 50px 0 50px 0;
    margin: 30px 30px 30px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 20px black;
    
    // Image
    .img{
        display: flex;
        height: 70px;
        align-items: center;
        background-color: rgb(57, 57, 77);
    }
    img{
        height: 45px;
        padding-left: 30px;
    }

    // Titre h3
    h3{
        @include h3();
        padding-left: 30px;
    }

    // Paragraphe
    p{
        @include paragraphe();
        padding-left: 30px;
    }
}
.cards-2{
    @extend .cards-1;
}
.cards-3{
    @extend .cards-1;
}
.cards-4{
    @extend .cards-1;
}
// Colonne 2
.colonne-2{
    margin-top: 120px;
}


// Section soir
.soir{
    position: relative;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
// Card Pink
.pink{
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 250px;
    padding-top: 30px;
    background: linear-gradient(to right, #46C2FF, #BD11FA);

    // h3
    h3{
        @include h3();
    }
    .left p{
        font-family: $font;
        color: white;
        font-weight: lighter;
        font-size: 15px;
        margin-top: -5px;
    }

    // heure
    .right p:first-child{
        @include h3();
    }
    .right p:last-child{
        font-family: $font;
        color: #353535;
        font-weight: lighter;
        font-size: 10px;
        margin-top: -20px;
    }
}
// Paragraphe
.paragraphe_soir{
    width: 400px;

    // h2
    h2{
        @include h2();
    }

    // Paragraphe
    p{
        @include paragraphe();
    }

    button{
        @include button_gradient();
    }
}

// Evening Mode On
.evening_mode_on{
    width: 300px;
    height: 200px;
    padding: 0 10px 0 10px;
    // margin: 30px 30px 30px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 20px black;
    position: relative;
    z-index: 4;
    left: -505px;
    top: 190px;
    background-color: #353535;

    h4{
        font-family: $font;
        color: white;
        font-size: 16px;
        font-weight: 350;
    }

    p{
        @include paragraphe();
    }
}